.b-nasa-apod {
  position: relative;
  padding: 20px;
}

.b-nasa-apod__text {
  color: white;
}

.b-nasa-apod__title {
  font-size: 28px;
}

.b-nasa-apod__description {
  font-size: 22px;
  line-height: 1.2;
}

.b-nasa-apod__button {
  display: inline-block;
  background: rgba(255, 255, 255, 20%);
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
}

.b-nasa-apod__button:hover {
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 20%);
}

.b-nasa-apod__button:disabled {
  pointer-events: none;
  color: grey;
  background: rgba(grey, 20%);
  border: 1px solid grey;
}

.b-nasa-apod__controls {
  display: flex;
  padding: 15px 0;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.b-nasa-apod__control {
  margin-bottom: 15px;
}

.b-nasa-apod__control:not(:last-child) {
  margin-right: 8px;
}

.b-nasa-apod__link {
  color: white;
}

@media screen and (min-width: 1024px) {
  .b-nasa-apod__inner {
    display: grid;
    grid-template-columns: 45% minmax(400px,600px);
    column-gap: 20px;
    justify-content: center;
  }

  .b-nasa-apod__button {
    padding: 5px 10px;
  }

  .b-nasa-apod__control {
    margin-bottom: 10px;
  }

  .b-nasa-apod__description {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
}
